
* {
  background-color: rgb(169, 206, 211);
}

header{
    position: sticky;
    top: 0;
    background-color: rgb(18, 56, 87);
    padding-inline: 36px;
    z-index: 1;
}

header ul li {
    list-style: none;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    border-radius: 10px;
    background-color: rgb(127, 178, 255);
    padding: 20px 20px;
}

.title {
    font-family: 'Calibri';
    font-weight: bolder;
    font-size: 40px;
    background-color:rgb(14, 117, 100);
    margin: 0 25px;
    border-radius: 10px;
    padding: 0px 8px 0px 8px;
    color: rgb(18, 56, 87);
    
}

.navbar{
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    background-color: rgb(18, 56, 87);
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(18, 56, 87);
   }

.nav-link{
    transition: 0.5s;
    font-size: 1.2rem;
    padding: 7px 25px 7px 25px;
    border-radius: 5px;
    font-family: 'Calibri';
    font-weight: bold;
    color: rgb(176, 168, 204);
    background-color: rgb(18, 56, 87);
}

a {
    text-decoration: none;
}

.nav-link:hover {
    background-color: rgb(48, 141, 184);
}

h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu-icon{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 24px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    background-color: rgb(14, 117, 100);
}

.foto {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ppt {
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;

}

.ppt:hover {
    color: black;
}


@media screen and (max-width: 768px){
    /* Header/Navigation Bar */
    .menu-icon{
        display: block;
    }
    .menu-icon.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu-icon.active .bar:nth-child(2){
        opacity: 0;
    }
    .menu-icon.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        top: -100%;
        left: 0;
        gap: 0;
        flex-direction: column;
        background-color: var(--primary-color);
        width: 100%;
        text-align: center;
        transition: 1s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        top: calc(0% + 80px);
    }
}